body {
    font-family: 'Poppins', sans-serif;

}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.Colored {
    color: orange;
}

.half-width {
    width: 50%;
    padding: 5px;
}

.another-half {
    width: 50%;
    padding: 5px;
    text-align: right;

}

.flexible {
    display: flex;
    padding: 60px 80px;
}

.link-button {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-image: -moz-linear-gradient(rgb(255, 174, 0), rgb(228, 27, 27));
    font-weight: 700px;
    color: rgb(41, 5, 5);
}

.first-section {
    background-image: url(images/first-section.png);
    background-repeat: no-repeat;
}

.second-half {
    width: 50%;
    padding: 5px;
    text-align: right;
}

.another-second-half {
    width: 50%;
    padding: 5px;

}

.second-section {
    background-image: url(images/bg2.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.pro {
    color: orange;
}

.last-half {
    box-shadow: 10px 10px 40px rgba(83, 65, 65, 0.534);
    width: 50%;
    margin: 5%;
    padding: 10px 10px;
    border-radius: 10px;
    border-left: 7px solid orange;
    border-right: 7px solid orange;

}

.final-half {

    box-shadow: 10px 10px 40px rgba(83, 65, 65, 0.534);
    width: 50%;
    margin: 5%;
    padding: 10px 10px;
    border-radius: 10px;
    border-left: 7px solid blue;
    border-right: 7px solid blue;

}

.third-section {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-image: left;
}

footer p {
    text-align: center;
}